* {
  box-sizing: border-box;
}

body {
  font-family: tahoma;
  margin: 0%;
  padding-bottom: 0;
  background-color: rgb(193, 233, 241);
}

/* top of page/header background image*/
header {
  background-image: url(images/headerbackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: 250px;
  margin: 0%;
  /* border: 1px solid red ; */
}

/*main section of page*/
main {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  margin-top: 10vh;
  margin-left: 10vw;
}

/* Logo */
#banksydives {
  position: absolute;
  height: 150px;
  width: 150px;
  margin-top: -7vh;
  margin-left: -9vw;
  /* border: 1px solid yellow; */
}

/* The navigation bar including logo */
.navbar {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add text shadow */
  background-color: #ffffff80;
  border-radius: 15px;
  display: flex;
  justify-content: flex-start;
  width: 45vw;
  margin-top: 0;
  margin-left: 10vw;
  list-style: none;
  font-size: 16px;
  /* border: 2px solid blue; */
}

.nav-link {
  font-size: 16px;
  font-weight: 700;
  list-style: none;
  margin: 2px 5px;
  padding: 8px 15px;
  text-align: center;
  font-size: 16px;
  /* border: solid purple; */
}

.nav-link:hover {
  color: white;
  cursor: pointer;
  border-radius: 12px;
  background-image: url(images/getmooving.jpg);
  /* border: 1px solid red; */
}

#divePlannerForm {
  border: 1px solid red;
  align-items: center;
  flex-direction: column;
  font-size: large;
  font-weight: 700;
}

#dive-table {
  margin-top: 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

h1 {
  color: orange;
  text-decoration: underline;
}
/*Media queries reactive*/

@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 15vh;
  }
  #left {
    margin-left: 10vh;
  }
}

@media screen and (max-width: 1420px) {
  .navbar {
    flex-direction: column;
  }
  #banksydives {
    margin-top: -150px;
  }
}

/* bubble animation CSS here */

/* windows + . for emojis  */
@keyframes bubble {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(-200px) scale(2);
    opacity: 0;
  }
}

.bubble {
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  position: absolute;
  top: 20%;
  animation: bubble 5s linear infinite;
}

.bubble:nth-child(2) {
  left: 20%;
  animation-delay: 1s;
}

.bubble:nth-child(3) {
  left: 40%;
  animation-delay: 2s;
}

.bubble:nth-child(4) {
  left: 60%;
  animation-delay: 3s;
}

.bubble:nth-child(5) {
  left: 80%;
  animation-delay: 4s;
}
